In [1]:
# import dependencies
import random
import pandas as pd
import matplotlib.pyplot as plt
from citipy import citipy
import csv
import openweathermapy.core as owm
import json
import os
from config import api_key
from urllib.error import HTTPError

In [2]:
# create a lists of random geographic coordinates in order to create a list of cities
latitude = [random.uniform(-90,90) for x in range(2000)]
longitude = [random.uniform(-180,180) for x in range(2000)]
coordinates = list(zip(latitude, longitude))
# create empty lists to hold city and country codes
city_data = []
cities = []
country = []

In [3]:
# loop through the coordinates to grab the city data from citipy
for coordinate_pair in coordinates:
    lat, lon = coordinate_pair
    city_data.append(citipy.nearest_city(lat, lon))

In [4]:
# loop through the city data to collect the names and the country codes
for city in city_data:
    name = city.city_name
    country_code = city.country_code
    cities.append(name)
    country.append(country_code)

In [5]:
# use citipy to find the cities and create a list of cities

In [6]:
# store name, longitute, and latitude into a pandas dataframe
cities_df = pd.DataFrame({
    "Name": cities,
    "Country": country,
   })

# Check dataframe for accuracy
cities_df.head()

  Country           Name
0      ca       la ronge
1      us  pacific grove
2      ar        ushuaia
3      ru        tyulgan
4      mx       acapulco

In [7]:
# make sure no duplicate cities made it into the list
cities_df = cities_df.drop_duplicates(subset=['Name'], keep="first")
cities_df = cities_df.reset_index(drop=True)
cities_df.head(35)

   Country              Name
0       ca          la ronge
1       us     pacific grove
2       ar           ushuaia
3       ru           tyulgan
4       mx          acapulco
5       no             roald
6       au         busselton
7       kr             seoul
8       mu         mahebourg
9       nz             bluff
10      id          bengkulu
11      ru        porosozero
12      gl  illoqqortoormiut
13      za       port alfred
14      pf           rikitea
15      cl              lebu
16      to             vaini
17      gl          tasiilaq
18      ph         barcelona
19      ca       clyde river
20      au            albany
21      in             morvi
22      sb              lata
23      cv             praia
24      gb              brae
25      us            kodiak
26      ve             upata
27      cl          coquimbo
28      tv              asau
29      us             kapaa
30      za          hermanus
31      br            touros
32      tz           chanika
33      us        pascagoula
34      ca         deer lake

In [8]:
len(cities_df["Name"])

792

In [9]:
# set variables for api calls to Open Weather Map
settings = {"units": "imperial", "appid": api_key}

In [10]:
# manually check a few of the cities with the openweather api
test = owm.get_current(cities_df['Name'][33], **settings)
test

{'base': 'stations',
 'clouds': {'all': 1},
 'cod': 200,
 'coord': {'lat': 30.37, 'lon': -88.56},
 'dt': 1527868740,
 'id': 4440397,
 'main': {'humidity': 59,
  'pressure': 1016,
  'temp': 85.64,
  'temp_max': 89.6,
  'temp_min': 80.6},
 'name': 'Pascagoula',
 'sys': {'country': 'US',
  'id': 1699,
  'message': 0.0047,
  'sunrise': 1527850357,
  'sunset': 1527900722,
  'type': 1},
 'visibility': 16093,
 'weather': [{'description': 'light rain',
   'icon': '10d',
   'id': 500,
   'main': 'Rain'}],
 'wind': {'deg': 203.5, 'speed': 4.18}}

In [11]:
#create variables that will hold the json data for each city.
city_data = []

In [12]:
# create a loop that checks if the city from citipy is in the openweathermap database and drops it 
#from the cities list if it isn't.

for city in cities_df['Name']:
    try:
        weather_data = owm.get_current(city, **settings)
    except HTTPError:
        print(f"{city} is not in OWM database.")
    else:
        city_data.append(weather_data)

bengkulu is not in OWM database.
illoqqortoormiut is not in OWM database.
morvi is not in OWM database.
asau is not in OWM database.
taolanaro is not in OWM database.
urdzhar is not in OWM database.
mys shmidta is not in OWM database.
nizhneyansk is not in OWM database.
bargal is not in OWM database.
quixada is not in OWM database.
barentsburg is not in OWM database.
umzimvubu is not in OWM database.
falealupo is not in OWM database.
attawapiskat is not in OWM database.
belushya guba is not in OWM database.
vicuna is not in OWM database.
olafsvik is not in OWM database.
grand river south east is not in OWM database.
tumannyy is not in OWM database.
camana is not in OWM database.
tsihombe is not in OWM database.
kazalinsk is not in OWM database.
marmaron is not in OWM database.
sentyabrskiy is not in OWM database.
korla is not in OWM database.
barawe is not in OWM database.
samusu is not in OWM database.
ndende is not in OWM database.
longlac is not in OWM database.
galiwinku is not in OWM database.
quetzaltepec is not in OWM database.
ayia is not in OWM database.
yithion is not in OWM database.
tabiauea is not in OWM database.
amderma is not in OWM database.
geresk is not in OWM database.
saleaula is not in OWM database.
mentok is not in OWM database.
chagda is not in OWM database.
tunduru is not in OWM database.
lolua is not in OWM database.
hihifo is not in OWM database.
paucartambo is not in OWM database.
yanan is not in OWM database.
umm jarr is not in OWM database.
viligili is not in OWM database.
marcona is not in OWM database.
stornoway is not in OWM database.
dolbeau is not in OWM database.
meyungs is not in OWM database.
aybak is not in OWM database.
acarau is not in OWM database.
hurghada is not in OWM database.
azimur is not in OWM database.
tawkar is not in OWM database.
kashi is not in OWM database.
karkaralinsk is not in OWM database.
arrecife is not in OWM database.
urumqi is not in OWM database.
samalaeulu is not in OWM database.
skalistyy is not in OWM database.
kerki is not in OWM database.
hvammstangi is not in OWM database.
zhanatas is not in OWM database.
tarudant is not in OWM database.
aflu is not in OWM database.
mrirt is not in OWM database.
rolim de moura is not in OWM database.
toliary is not in OWM database.
utiroa is not in OWM database.
khalandritsa is not in OWM database.
skagastrond is not in OWM database.
katsiveli is not in OWM database.

In [13]:
len(city_data)

719

In [14]:
with open('city_data.json', 'w') as outfile:
    json.dump(city_data, outfile, sort_keys=True, indent=4)

In [16]:
# create a dataframe from the dataset collected from OWM
humidity = [city['main']['humidity'] for city in city_data]
ws = [city['wind']['speed'] for city in city_data]
country = [city['sys']['country'] for city in city_data]
longitude = [city['coord']['lon'] for city in city_data]
latitude = [city['coord']['lat'] for city in city_data]
temperature = [city['main']['temp'] for city in city_data]
cloudiness = [city['clouds']['all'] for city in city_data]
city = [city['name'] for city in city_data]

final_cities_df = pd.DataFrame({
    'Name': city,
    'Country': country,
    'Latitude': latitude,
    'Longitude': longitude,
    'Temperature': temperature,
    'Humidity': humidity,
    "% Cloudiness": cloudiness,
    'Wind Speed': ws
})

final_cities_df.head(20)

,% Cloudiness,Country,Humidity,Latitude,Longitude,Name,Temperature,Wind Speed
0,90,CA,76,55.10,-105.30,La Ronge,48.20,13.87
1,1,US,67,36.62,-121.92,Pacific Grove,56.28,4.70
2,40,AR,65,-54.81,-68.31,Ushuaia,45.59,33.33
3,0,RU,62,52.34,56.17,Tyulgan,40.71,11.12
4,75,MX,66,16.86,-99.88,Acapulco,89.60,5.82
5,0,NO,93,62.58,6.12,Roald,68.97,11.41
6,0,AU,100,-33.64,115.35,Busselton,53.58,6.08
7,0,KR,63,37.57,126.98,Seoul,64.38,2.24
8,40,MU,88,-20.41,57.70,Mahebourg,69.80,2.24
9,0,AU,79,-23.58,149.07,Bluff,41.61,7.20
10,12,RU,50,62.72,32.71,Porosozero,63.57,7.20
11,0,ZA,88,-33.59,26.89,Port Alfred,62.58,19.62
12,56,PF,100,-23.12,-134.97,Rikitea,75.99,10.22
13,76,ET,96,8.96,38.73,Lebu,55.11,2.84
14,80,IN,98,15.34,74.49,Vaini,74.28,1.16
15,40,GL,80,65.61,-37.64,Tasiilaq,35.60,10.29
16,20,ES,78,41.38,2.18,Barcelona,73.40,6.93
17,90,CA,99,70.47,-68.59,Clyde River,32.00,3.36
18,75,US,74,42.65,-73.75,Albany,76.10,8.05
19,44,IN,100,30.78,78.62,Lata,51.87,1.61

In [18]:
# minor data clean up for presentable dataframe
final_cities_df = final_cities_df[["Name", 'Country', 'Latitude', 'Longitude', "Temperature", 'Humidity', "Wind Speed", 
                                 '% Cloudiness']]
final_cities_df.head()

,Name,Country,Latitude,Longitude,Temperature,Humidity,Wind Speed,% Cloudiness
0,La Ronge,CA,55.10,-105.30,48.20,76,13.87,90
1,Pacific Grove,US,36.62,-121.92,56.28,67,4.70,1
2,Ushuaia,AR,-54.81,-68.31,45.59,65,33.33,40
3,Tyulgan,RU,52.34,56.17,40.71,62,11.12,0
4,Acapulco,MX,16.86,-99.88,89.60,66,5.82,75