In [178]:
# import dependencies
import random
import pandas as pd
import matplotlib.pyplot as plt
from citipy import citipy
import csv
import openweathermapy.core as owm
import json
import os
from config import api_key
from urllib.error import HTTPError

In [179]:
# create a lists of random geographic coordinates in order to create a list of cities
latitude = [random.uniform(-90,90) for x in range(2000)]
longitude = [random.uniform(-180,180) for x in range(2000)]
coordinates = list(zip(latitude, longitude))
# create empty lists to hold city and country codes
city_data = []
cities = []
country = []

In [180]:
# loop through the coordinates to grab the city data from citipy
for coordinate_pair in coordinates:
    lat, lon = coordinate_pair
    city_data.append(citipy.nearest_city(lat, lon))

In [181]:
# loop through the city data to collect the names and the country codes
for city in city_data:
    name = city.city_name
    country_code = city.country_code
    cities.append(name)
    country.append(country_code)

In [182]:
# use citipy to find the cities and create a list of cities

In [183]:
# store name, longitute, and latitude into a pandas dataframe
cities_df = pd.DataFrame({
    "Name": cities,
    "Country": country,
    "latitude": latitude,
    "longitude": longitude
})

# Check dataframe for accuracy
cities_df.head()

  Country        Name   latitude   longitude
0      gl    tasiilaq  81.802169  -36.360896
1      to       vaini -41.462795 -175.189580
2      au      hobart -71.133045  149.095787
3      ca  port hardy  47.129025 -134.258774
4      br    belmonte -18.044358  -30.568014

In [184]:
# make sure no duplicate cities made it into the list
cities_df = cities_df.drop_duplicates(subset=['Name'], keep="first")
cities_df = cities_df.reset_index(drop=True)
cities_df.head(35)

   Country             Name   latitude   longitude
0       gl         tasiilaq  81.802169  -36.360896
1       to            vaini -41.462795 -175.189580
2       au           hobart -71.133045  149.095787
3       ca       port hardy  47.129025 -134.258774
4       br         belmonte -18.044358  -30.568014
5       us           bethel  41.769074 -164.063156
6       cl             lebu -34.872275  -80.026195
7       au             roma -25.273851  148.725974
8       ly           yafran  32.017431   12.432212
9       ki       butaritari   6.229559  163.426843
10      pf           atuona  -3.601261 -133.339823
11      ar          ushuaia -76.746689  -38.697757
12      br  arraial do cabo -31.599959  -37.154185
13      us          kahului  21.844428 -156.045450
14      ru            tiksi  79.101890  127.339768
15      us         coalinga  36.197887 -120.736759
16      za      port alfred -75.720805   41.394397
17      cl     punta arenas -76.472908 -111.958052
18      ru    belushya guba  79.736665   56.959386
19      pf          mataura -83.108607 -145.757034
20      sv         acajutla  13.408042  -90.295334
21      ru    batagay-alyta  68.427395  130.443350
22      ru       lavrentiya  71.632393 -171.572143
23      br          ipixuna  -6.655575  -71.681908
24      es          teguise  30.759526  -12.517617
25      jp        kurayoshi  35.228529  133.644888
26      so            hobyo   3.732404   47.543677
27      us          rutland  43.495623  -73.254119
28      pg          panguna  -7.090892  152.845938
29      mx   guerrero negro  25.222644 -117.476962
30      pf          rikitea -84.210084 -135.799672
31      re   saint-philippe -55.442164   65.494383
32      ws         saleaula   4.032216 -172.570537
33      sa         umm lajj  25.122519   38.207108
34      jp           nemuro  35.635777  151.634266

In [185]:
# set variables for api calls to Open Weather Map
settings = {"units": "imperial", "appid": api_key}

In [186]:
# manually check a few of the cities with the openweather api
test = owm.get_current(cities_df['Name'][33], **settings)
test

{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 25.02, 'lon': 37.27},
 'dt': 1527711592,
 'id': 100926,
 'main': {'grnd_level': 1008.53,
  'humidity': 78,
  'pressure': 1008.53,
  'sea_level': 1021.49,
  'temp': 78.24,
  'temp_max': 78.24,
  'temp_min': 78.24},
 'name': 'Umm Lajj',
 'sys': {'country': 'SA',
  'message': 0.0035,
  'sunrise': 1527648078,
  'sunset': 1527696961},
 'weather': [{'description': 'clear sky',
   'icon': '01n',
   'id': 800,
   'main': 'Clear'}],
 'wind': {'deg': 337.002, 'speed': 8.86}}

In [187]:
#create variables that will hold the json data for each city.
city_data = []

In [188]:
# create a loop that checks if the city from citipy is in the openweathermap database and drops it 
#from the cities list if it isn't.

for city in cities_df['Name']:
    try:
        weather_data = owm.get_current(city, **settings)
    except HTTPError:
        print(f"{city} is not in OWM database.")
    else:
        city_data.append(weather_data)

belushya guba is not in OWM database.
saleaula is not in OWM database.
amderma is not in OWM database.
chagda is not in OWM database.
nizhneyansk is not in OWM database.
rawannawi is not in OWM database.
illoqqortoormiut is not in OWM database.
ngukurr is not in OWM database.
toliary is not in OWM database.
ciras is not in OWM database.
attawapiskat is not in OWM database.
taolanaro is not in OWM database.
dzhusaly is not in OWM database.
solovetskiy is not in OWM database.
samusu is not in OWM database.
tumannyy is not in OWM database.
dolbeau is not in OWM database.
bengkulu is not in OWM database.
vaitupu is not in OWM database.
barentsburg is not in OWM database.
umzimvubu is not in OWM database.
galiwinku is not in OWM database.
asau is not in OWM database.
burica is not in OWM database.
palabuhanratu is not in OWM database.
asayita is not in OWM database.
haibowan is not in OWM database.
cockburn harbour is not in OWM database.
rungata is not in OWM database.
alotau is not in OWM database.
paradwip is not in OWM database.
krasnoselkup is not in OWM database.
samalaeulu is not in OWM database.
umm durman is not in OWM database.
kamenskoye is not in OWM database.
tsihombe is not in OWM database.
tungkang is not in OWM database.
camana is not in OWM database.
kousseri is not in OWM database.
lolua is not in OWM database.
olafsvik is not in OWM database.
sakakah is not in OWM database.
tonj is not in OWM database.
matir is not in OWM database.
aflu is not in OWM database.
grand river south east is not in OWM database.
mys shmidta is not in OWM database.
linguere is not in OWM database.
falkoping is not in OWM database.
malwan is not in OWM database.
yuzhno-yeniseyskiy is not in OWM database.
hurghada is not in OWM database.
sentyabrskiy is not in OWM database.
maykain is not in OWM database.
cebu is not in OWM database.
korla is not in OWM database.
santarem is not in OWM database.
zhemchuzhnyy is not in OWM database.
bossembele is not in OWM database.
himora is not in OWM database.
yirol is not in OWM database.
sidi qasim is not in OWM database.
mergui is not in OWM database.
fevralsk is not in OWM database.
cosala is not in OWM database.
labrea is not in OWM database.
saint combs is not in OWM database.
sindand is not in OWM database.
marcona is not in OWM database.
satitoa is not in OWM database.
tambopata is not in OWM database.
acuna is not in OWM database.
tukrah is not in OWM database.
sorvag is not in OWM database.
lushunkou is not in OWM database.
toftir is not in OWM database.
pemangkat is not in OWM database.

In [190]:
len(city_data)

675

In [191]:
name = city_data[0]["name"]
name

'Tasiilaq'

In [192]:
t = city_data[0]['main']['temp']
t

39.2

In [194]:
# create a dataframe from the dataset collected from OWM
name = []
country = []
longitude = []
latitude = []
temperature = []
humidity = []
cloudiness = []
wind_speed = []

for i in city_data:
    cn = city_data[i]["name"]
    name.append(cn)

TypeError: list indices must be integers or slices, not NestedDict

In [ ]:
#final and full dataframe from OWM
df = ({
    "City": name,
    "Country": country,
    "Latitude": latitude,
    "Longitude": longitude,
    "Temperature": temperature,
    "Humidity": humidity,
    "% Cloudiness": cloudiness,
    "Wind Speed": wind_speed
})

df.head()

In [ ]:
# save a csv file of the dataframe