In [10]:
# import dependencies
import pandas as pd

In [11]:
# read data into a pandas dataframe
measurements = pd.read_csv("./Resources/hawaii_measurements.csv")
stations = pd.read_csv("./Resources/hawaii_stations.csv")

In [12]:
# Examine the stations data. Only 9. Nothing to clean.
stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [14]:
# examine the measurements data. Obviously multiple NaN values.
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [15]:
# examine the measurement data counts to see where the majority of the NaN values are.
measurements.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [16]:
# clean the data by dropping the NaN rows
clean_measurements = measurements.dropna(how='any')
clean_measurements = clean_measurements.drop_duplicates(keep='first')

In [17]:
# double check that the NaN values have been dropped.
clean_measurements.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [19]:
#create a unique index for each measurement in the cleaned data so that sql doesn't throw a UNIQUE error when inserting data
clean_measurements["measurment_id"] = clean_measurements.index

In [20]:
# check to make sure the new column worked.
clean_measurements.head()

       station        date  prcp  tobs  measurment_id
0  USC00519397  2010-01-01  0.08    65              0
1  USC00519397  2010-01-02  0.00    63              1
2  USC00519397  2010-01-03  0.00    74              2
3  USC00519397  2010-01-04  0.00    76              3
5  USC00519397  2010-01-07  0.06    70              5

In [ ]:
# save the new dataframes to csv files

In [21]:
clean_measurements.to_csv("./Resources/clean_hawaii_measurements.csv", header=True, index=False)

In [22]:
stations.to_csv("./Resources/clean_hawaii_stations.csv", header=True, index=False)